/* Colors */
.standard-fg-color, body,
.off-canvas, h1, h2, h3, h4, h5, h6, a, a:hover, a:visited, a:focus, .invert .button,
.invert .invert .invert .button,
.invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .button, .invert .invert,
.invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert .invert, .invert .invert h1, .invert .invert h2, .invert .invert h3, .invert .invert h4, .invert .invert h5, .invert .invert h6, .invert .invert a, .invert .invert a:hover, .invert .invert a:visited, .invert .invert a:focus,
.invert .invert .invert .invert h1,
.invert .invert .invert .invert h2,
.invert .invert .invert .invert h3,
.invert .invert .invert .invert h4,
.invert .invert .invert .invert h5,
.invert .invert .invert .invert h6,
.invert .invert .invert .invert a,
.invert .invert .invert .invert a:hover,
.invert .invert .invert .invert a:visited,
.invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert .invert .invert a:focus, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus {
  color: #ffffff; }

.standard-bg-color, body,
.off-canvas, .invert .button,
.invert .invert .invert .button,
.invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .button, .invert .invert,
.invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert .invert, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus {
  background-color: #000000; }

.inverted-fg-color, .button, .invert,
.invert .invert .invert,
.invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert, .invert h1, .invert h2, .invert h3, .invert h4, .invert h5, .invert h6, .invert a, .invert a:hover, .invert a:visited, .invert a:focus,
.invert .invert .invert h1,
.invert .invert .invert h2,
.invert .invert .invert h3,
.invert .invert .invert h4,
.invert .invert .invert h5,
.invert .invert .invert h6,
.invert .invert .invert a,
.invert .invert .invert a:hover,
.invert .invert .invert a:visited,
.invert .invert .invert a:focus,
.invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert .invert a:focus, .invert .button:hover, .invert .button:focus,
.invert .invert .invert .button:hover,
.invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .button:focus, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button {
  color: #000000; }

.inverted-bg-color, .button, .invert,
.invert .invert .invert,
.invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert, .invert .button:hover, .invert .button:focus,
.invert .invert .invert .button:hover,
.invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .button:focus, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button {
  background-color: #ffffff; }

.menu-icon::after, .menu-icon:hover::after {
  background-color: #ffffff;
  box-shadow: 0 7px 0 #ffffff, 0 14px #ffffff; }

.is-drilldown-submenu {
  background-color: #ffffff; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #ffffff; }

.js-drilldown-back::before {
  border-color: transparent #000000 transparent transparent; }

.is-drilldown-submenu a {
  color: #000000; }

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff; }

[type=text]:focus, [type=password]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=week]:focus, [type=email]:focus, [type=number]:focus, [type=search]:focus, [type=tel]:focus, [type=time]:focus, [type=url]:focus, [type=color]:focus, textarea {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000; }

.invert .menu-icon::after, .invert .menu-icon:hover::after,
.invert .invert .invert .menu-icon::after,
.invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after {
  background-color: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px #000000; }
.invert .is-drilldown-submenu,
.invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu {
  background-color: #000000; }
.invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #000000; }
.invert .js-drilldown-back::before,
.invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .invert .js-drilldown-back::before {
  border-color: transparent #000000 transparent transparent; }
.invert .is-drilldown-submenu a,
.invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu a {
  color: #ffffff; }
.invert [type=text], .invert [type=password], .invert [type=date], .invert [type=datetime], .invert [type=datetime-local], .invert [type=month], .invert [type=week], .invert [type=email], .invert [type=number], .invert [type=search], .invert [type=tel], .invert [type=time], .invert [type=url], .invert [type=color], .invert textarea,
.invert .invert .invert [type=text],
.invert .invert .invert [type=password],
.invert .invert .invert [type=date],
.invert .invert .invert [type=datetime],
.invert .invert .invert [type=datetime-local],
.invert .invert .invert [type=month],
.invert .invert .invert [type=week],
.invert .invert .invert [type=email],
.invert .invert .invert [type=number],
.invert .invert .invert [type=search],
.invert .invert .invert [type=tel],
.invert .invert .invert [type=time],
.invert .invert .invert [type=url],
.invert .invert .invert [type=color],
.invert .invert .invert textarea,
.invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert .invert textarea {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000; }
.invert [type=text]:focus, .invert [type=password]:focus, .invert [type=date]:focus, .invert [type=datetime]:focus, .invert [type=datetime-local]:focus, .invert [type=month]:focus, .invert [type=week]:focus, .invert [type=email]:focus, .invert [type=number]:focus, .invert [type=search]:focus, .invert [type=tel]:focus, .invert [type=time]:focus, .invert [type=url]:focus, .invert [type=color]:focus, .invert textarea,
.invert .invert .invert [type=text]:focus,
.invert .invert .invert [type=password]:focus,
.invert .invert .invert [type=date]:focus,
.invert .invert .invert [type=datetime]:focus,
.invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert [type=month]:focus,
.invert .invert .invert [type=week]:focus,
.invert .invert .invert [type=email]:focus,
.invert .invert .invert [type=number]:focus,
.invert .invert .invert [type=search]:focus,
.invert .invert .invert [type=tel]:focus,
.invert .invert .invert [type=time]:focus,
.invert .invert .invert [type=url]:focus,
.invert .invert .invert [type=color]:focus,
.invert .invert .invert textarea,
.invert .invert .invert .invert .invert [type=text]:focus,
.invert .invert .invert .invert .invert [type=password]:focus,
.invert .invert .invert .invert .invert [type=date]:focus,
.invert .invert .invert .invert .invert [type=datetime]:focus,
.invert .invert .invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert .invert .invert [type=month]:focus,
.invert .invert .invert .invert .invert [type=week]:focus,
.invert .invert .invert .invert .invert [type=email]:focus,
.invert .invert .invert .invert .invert [type=number]:focus,
.invert .invert .invert .invert .invert [type=search]:focus,
.invert .invert .invert .invert .invert [type=tel]:focus,
.invert .invert .invert .invert .invert [type=time]:focus,
.invert .invert .invert .invert .invert [type=url]:focus,
.invert .invert .invert .invert .invert [type=color]:focus,
.invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert [type=text]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=password]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=date]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=datetime]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=month]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=week]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=email]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=number]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=search]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=tel]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=time]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=url]:focus,
.invert .invert .invert .invert .invert .invert .invert [type=color]:focus,
.invert .invert .invert .invert .invert .invert .invert textarea {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff; }

.invert .invert .menu-icon::after, .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after {
  background-color: #ffffff;
  box-shadow: 0 7px 0 #ffffff, 0 14px #ffffff; }
.invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu {
  background-color: #ffffff; }
.invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #ffffff; }
.invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .invert .invert .js-drilldown-back::before {
  aborder-color: transparent #ffffff transparent transparent; }
.invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu a {
  color: #000000; }
.invert .invert [type=text], .invert .invert [type=password], .invert .invert [type=date], .invert .invert [type=datetime], .invert .invert [type=datetime-local], .invert .invert [type=month], .invert .invert [type=week], .invert .invert [type=email], .invert .invert [type=number], .invert .invert [type=search], .invert .invert [type=tel], .invert .invert [type=time], .invert .invert [type=url], .invert .invert [type=color], .invert .invert textarea,
.invert .invert .invert .invert [type=text],
.invert .invert .invert .invert [type=password],
.invert .invert .invert .invert [type=date],
.invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert [type=month],
.invert .invert .invert .invert [type=week],
.invert .invert .invert .invert [type=email],
.invert .invert .invert .invert [type=number],
.invert .invert .invert .invert [type=search],
.invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert [type=time],
.invert .invert .invert .invert [type=url],
.invert .invert .invert .invert [type=color],
.invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert .invert .invert textarea {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff; }
.invert .invert [type=text]:focus, .invert .invert [type=password]:focus, .invert .invert [type=date]:focus, .invert .invert [type=datetime]:focus, .invert .invert [type=datetime-local]:focus, .invert .invert [type=month]:focus, .invert .invert [type=week]:focus, .invert .invert [type=email]:focus, .invert .invert [type=number]:focus, .invert .invert [type=search]:focus, .invert .invert [type=tel]:focus, .invert .invert [type=time]:focus, .invert .invert [type=url]:focus, .invert .invert [type=color]:focus, .invert .invert textarea,
.invert .invert .invert .invert [type=text]:focus,
.invert .invert .invert .invert [type=password]:focus,
.invert .invert .invert .invert [type=date]:focus,
.invert .invert .invert .invert [type=datetime]:focus,
.invert .invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert .invert [type=month]:focus,
.invert .invert .invert .invert [type=week]:focus,
.invert .invert .invert .invert [type=email]:focus,
.invert .invert .invert .invert [type=number]:focus,
.invert .invert .invert .invert [type=search]:focus,
.invert .invert .invert .invert [type=tel]:focus,
.invert .invert .invert .invert [type=time]:focus,
.invert .invert .invert .invert [type=url]:focus,
.invert .invert .invert .invert [type=color]:focus,
.invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert [type=text]:focus,
.invert .invert .invert .invert .invert .invert [type=password]:focus,
.invert .invert .invert .invert .invert .invert [type=date]:focus,
.invert .invert .invert .invert .invert .invert [type=datetime]:focus,
.invert .invert .invert .invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert .invert .invert .invert [type=month]:focus,
.invert .invert .invert .invert .invert .invert [type=week]:focus,
.invert .invert .invert .invert .invert .invert [type=email]:focus,
.invert .invert .invert .invert .invert .invert [type=number]:focus,
.invert .invert .invert .invert .invert .invert [type=search]:focus,
.invert .invert .invert .invert .invert .invert [type=tel]:focus,
.invert .invert .invert .invert .invert .invert [type=time]:focus,
.invert .invert .invert .invert .invert .invert [type=url]:focus,
.invert .invert .invert .invert .invert .invert [type=color]:focus,
.invert .invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert .invert [type=text]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=password]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=date]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime-local]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=month]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=week]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=email]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=number]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=search]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=tel]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=time]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=url]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert [type=color]:focus,
.invert .invert .invert .invert .invert .invert .invert .invert textarea {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000; }

.js-off-canvas-exit {
  background-color: rgba(0, 0, 0, 0.5); }

/* Spacing */
h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  padding: 2rem;
  margin: 0; }

ul, ol {
  margin-left: 2rem;
  margin-top: 0; }

.menu-icon {
  margin: 0.5rem; }

/*# sourceMappingURL=app.css.map */
