/* Colors */
.standard-fg-color, body,
.off-canvas, h1, h2, h3, h4, h5, h6, a, a:hover, a:visited, a:focus, label, .button:hover, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus, .button:focus, .invert .button, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .button,
.invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .button, .invert .is-drilldown-submenu a, .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu a, .invert .invert,
.invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert .invert, .invert .invert h1, .invert .invert h2, .invert .invert h3, .invert .invert h4, .invert .invert h5, .invert .invert h6, .invert .invert a, .invert .invert a:hover, .invert .invert a:visited, .invert .invert a:focus, .invert .invert label,
.invert .invert .invert .invert h1,
.invert .invert .invert .invert h2,
.invert .invert .invert .invert h3,
.invert .invert .invert .invert h4,
.invert .invert .invert .invert h5,
.invert .invert .invert .invert h6,
.invert .invert .invert .invert a,
.invert .invert .invert .invert a:hover,
.invert .invert .invert .invert a:visited,
.invert .invert .invert .invert a:focus,
.invert .invert .invert .invert label,
.invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert label,
.invert .invert .invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert .invert .invert label {
  color: #ffffff; }

.standard-bg-color, body,
.off-canvas, .button:hover, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus, .button:focus, .invert .button, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .button,
.invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .button, .invert .invert,
.invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert .invert {
  background-color: #000000; }

.inverted-fg-color, .button, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button, .is-drilldown-submenu a, .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu a,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu a, .invert,
.invert .invert .invert,
.invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert, .invert h1, .invert h2, .invert h3, .invert h4, .invert h5, .invert h6, .invert a, .invert a:hover, .invert a:visited, .invert a:focus, .invert label,
.invert .invert .invert h1,
.invert .invert .invert h2,
.invert .invert .invert h3,
.invert .invert .invert h4,
.invert .invert .invert h5,
.invert .invert .invert h6,
.invert .invert .invert a,
.invert .invert .invert a:hover,
.invert .invert .invert a:visited,
.invert .invert .invert a:focus,
.invert .invert .invert label,
.invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert label,
.invert .invert .invert .invert .invert .invert .invert h1,
.invert .invert .invert .invert .invert .invert .invert h2,
.invert .invert .invert .invert .invert .invert .invert h3,
.invert .invert .invert .invert .invert .invert .invert h4,
.invert .invert .invert .invert .invert .invert .invert h5,
.invert .invert .invert .invert .invert .invert .invert h6,
.invert .invert .invert .invert .invert .invert .invert a,
.invert .invert .invert .invert .invert .invert .invert a:hover,
.invert .invert .invert .invert .invert .invert .invert a:visited,
.invert .invert .invert .invert .invert .invert .invert a:focus,
.invert .invert .invert .invert .invert .invert .invert label, .invert .button:hover, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus, .invert .button:focus,
.invert .invert .invert .button:hover,
.invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .button:focus {
  color: #000000; }

.inverted-bg-color, .button, .invert .invert .button,
.invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .button,
.invert .invert .invert .invert .invert .invert .invert .invert .button, .invert,
.invert .invert .invert,
.invert .invert .invert .invert .invert,
.invert .invert .invert .invert .invert .invert .invert, .invert .button:hover, .invert .invert .button:hover, .invert .invert .button:focus,
.invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .invert .button:focus, .invert .button:focus,
.invert .invert .invert .button:hover,
.invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .button:focus,
.invert .invert .invert .invert .invert .invert .invert .button:hover,
.invert .invert .invert .invert .invert .invert .invert .button:focus {
  background-color: #ffffff; }

.standard-border-and-bg-and-fg, [type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea, select, .invert .invert [type=text], .invert .invert [type=password], .invert .invert [type=date], .invert .invert [type=datetime], .invert .invert [type=datetime-local], .invert .invert [type=month], .invert .invert [type=week], .invert .invert [type=email], .invert .invert [type=number], .invert .invert [type=search], .invert .invert [type=tel], .invert .invert [type=time], .invert .invert [type=url], .invert .invert [type=color], .invert .invert textarea, .invert .invert select,
.invert .invert .invert .invert [type=text],
.invert .invert .invert .invert [type=password],
.invert .invert .invert .invert [type=date],
.invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert [type=month],
.invert .invert .invert .invert [type=week],
.invert .invert .invert .invert [type=email],
.invert .invert .invert .invert [type=number],
.invert .invert .invert .invert [type=search],
.invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert [type=time],
.invert .invert .invert .invert [type=url],
.invert .invert .invert .invert [type=color],
.invert .invert .invert .invert textarea,
.invert .invert .invert .invert select,
.invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert select,
.invert .invert .invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert .invert select {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff; }

.inverted-border-and-bg-and-fg, .invert [type=text], .invert [type=password], .invert [type=date], .invert [type=datetime], .invert [type=datetime-local], .invert [type=month], .invert [type=week], .invert [type=email], .invert [type=number], .invert [type=search], .invert [type=tel], .invert [type=time], .invert [type=url], .invert [type=color], .invert textarea, .invert select,
.invert .invert .invert [type=text],
.invert .invert .invert [type=password],
.invert .invert .invert [type=date],
.invert .invert .invert [type=datetime],
.invert .invert .invert [type=datetime-local],
.invert .invert .invert [type=month],
.invert .invert .invert [type=week],
.invert .invert .invert [type=email],
.invert .invert .invert [type=number],
.invert .invert .invert [type=search],
.invert .invert .invert [type=tel],
.invert .invert .invert [type=time],
.invert .invert .invert [type=url],
.invert .invert .invert [type=color],
.invert .invert .invert textarea,
.invert .invert .invert select,
.invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert select,
.invert .invert .invert .invert .invert .invert .invert [type=text],
.invert .invert .invert .invert .invert .invert .invert [type=password],
.invert .invert .invert .invert .invert .invert .invert [type=date],
.invert .invert .invert .invert .invert .invert .invert [type=datetime],
.invert .invert .invert .invert .invert .invert .invert [type=datetime-local],
.invert .invert .invert .invert .invert .invert .invert [type=month],
.invert .invert .invert .invert .invert .invert .invert [type=week],
.invert .invert .invert .invert .invert .invert .invert [type=email],
.invert .invert .invert .invert .invert .invert .invert [type=number],
.invert .invert .invert .invert .invert .invert .invert [type=search],
.invert .invert .invert .invert .invert .invert .invert [type=tel],
.invert .invert .invert .invert .invert .invert .invert [type=time],
.invert .invert .invert .invert .invert .invert .invert [type=url],
.invert .invert .invert .invert .invert .invert .invert [type=color],
.invert .invert .invert .invert .invert .invert .invert textarea,
.invert .invert .invert .invert .invert .invert .invert select {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000; }

.js-off-canvas-exit {
  background-color: rgba(0, 0, 0, 0.5); }

.menu-icon::after, .invert .invert .menu-icon::after, .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after, .menu-icon:hover::after, .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after {
  background-color: #ffffff;
  box-shadow: 0 7px 0 #ffffff, 0 14px #ffffff; }

.is-drilldown-submenu, .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu {
  background-color: #ffffff; }

.border-left-only-fg-color-primary, .is-drilldown-submenu-parent > a::after, .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #ffffff; }

.border-right-only-bg-color-primary, .js-drilldown-back::before, .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .invert .invert .js-drilldown-back::before {
  border-color: transparent #000000 transparent transparent; }

.border-left-only-bg-color-primary, .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #000000; }

.border-right-only-fg-color-primary, .invert .js-drilldown-back::before,
.invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .js-drilldown-back::before,
.invert .invert .invert .invert .invert .invert .invert .js-drilldown-back::before {
  border-color: transparent #ffffff transparent transparent; }

.invert .menu-icon::after, .invert .invert .menu-icon::after, .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after, .invert .menu-icon:hover::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon::after,
.invert .invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after,
.invert .invert .invert .invert .invert .invert .invert .menu-icon:hover::after {
  background-color: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px #000000; }
.invert .is-drilldown-submenu, .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu,
.invert .invert .invert .invert .invert .invert .invert .invert .is-drilldown-submenu {
  background-color: #000000; }

/* Spacing */
h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  padding: 2rem;
  margin: 0; }

ul, ol {
  margin-left: 2rem;
  margin-top: 0; }

.menu-icon {
  margin: 0.5rem; }

.row > .column:last-child:not(:first-child), .row > .columns:last-child:not(:first-child) {
  float: left; }

/*# sourceMappingURL=app.css.map */
