!!!
%html.no-js{lang: 'en-US'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title #{page.title} - #{site.title}
    %link{href: '/css/vendor/foundation.min.css', rel: 'stylesheet'}
    %link{href: '/css/app.css', rel: 'stylesheet'}
    %link{href: '/images/favicon.ico', rel: 'shortcut icon'}
    %link{href: '/images/apple-touch-icon.png', rel: 'apple-touch-startup-image'}
    -if page.description
      %meta{name: 'description', content: page.description}
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{'data-off-canvas-wrapper' => ''}
        .off-canvas-content.invert{'data-off-canvas-content' => ''}
          .float-left{'data-toggle' => 'main-navigation'}
            %button.menu-icon
          ~ content
        #main-navigation.off-canvas.position-left{'data-off-canvas' => ''}
          %h4 Navigation
          %ul.vertical.menu{'data-drilldown' => ''}
            %li
              %a{href: '#'} Item 1
              %ul.vertical.menu
                %li
                  %a{href: '#'} Item 1A
            %li
              %a{href: '#'} Item 2
    %script{src: 'js/vendor/jquery.min.js'}
    %script{src: 'js/vendor/foundation.min.js'}
    -if page.include_utilities
      %script{src: '/js/vendor/utilities.js'}
    -if page.script
      %script{src: page.script}
    -if page.script2
      %script{src: page.script2}
    :javascript
      $(document).foundation();
